<div class="container">
<div class="row">
    <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">EDIT ACCOUNT</h5>
                    <form action="/profile/<%= @user_avail.id %>" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="text" name="first_name" value="<%= @user_avail.first_name %>">
                    <input type="text" name="last_name" value="<%= @user_avail.last_name %>">
                    <input type="text" name="email" value="<%= @user_avail.email %>">
                    <input type="text" name="birthday" value="<%= @user_avail.birthday %>">
                    <input type="text" name="password" value="<%= @user_avail.password %>">                    
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Submit Changes</button>
                    </form>
                </div>
            </div>
        </div>
        <p>
        <p>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">To delete account, click below:</h5>
                <form action="/home/<%= @user_avail.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">    
                    <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-edit"></span> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="footer">
  <p><a href="/"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-log-out"></span> Log Out</button></a>
  
  <a href="/edit"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-edit"></span> Edit Account</button></a>
  
  <a href="/allposts"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-log-out"></span> All Posts</button></a>
</p>
</div>